input[type='text'] {
	background-color: black;
	border: 1px solid #666;
	color: white;
	padding: 5px 5px;
}

select {
	background-color: #131313;
	border: 1px solid #666;
	color: white;
    margin: 5px 3px 10px;
    width: calc(100% - 6px) !important;
}

input[type='submit'],
input[type='button'] {
	background-color: #003c00;
	border: 1px solid black;
	color: white;
	cursor: pointer;
	padding: 2px;
	font-weight: bold;
}

.btn-chunky {
	padding: 5px 20px !important;
}

.mt-20 {
	margin-top: 20px;
}

.is-active-menu-item {
	color: #75B73D !important;
	font-weight: bold;
}

.menu-tree {
	padding: 5px;
}

/* also: .t0i */
.menu-tree__link {
	display: inline-block;
	/* line-height: 1.8; */
	/* padding: 1px; */
	font-size: 12px !important;
}
