input[type='text'] {
	background-color: black;
	border: 1px solid #666;
	color: white;
	padding: 5px 5px;
}

select {
	background-color: #131313;
	border: 1px solid #666;
	color: white;
    margin: 5px 3px 10px;
    width: calc(100% - 6px) !important;
}

input[type='submit'],
input[type='button'] {
	background-color: #003c00;
	border: 1px solid black;
	color: white;
	cursor: pointer;
	padding: 2px;
	font-weight: bold;
}

.btn-chunky {
	padding: 5px 20px !important;
}

.mt-20 {
	margin-top: 20px;
}